#scrollable_grid{
    width: 1000px;
    margin: auto;
}

#scrollable_grid_header{
    width: 982px;
    overflow: hidden;
}

#scrollable_grid_header table,
#scrollable_grid_data table {
    width: 5000px;
    border: solid 1px black;
    border-bottom: none;
    border-collapse: collapse;
}

#scrollable_grid_header table thead th,
#scrollable_grid_data table tbody td {
    width: 200px;
    text-align: left;
    border: solid 1px black;
    padding: 2px 5px;
}
#scrollable_grid_header table thead th {
    border-bottom: none;
}

#scrollable_grid_data table tbody tr:nth-child(2n) {
    background-color: beige;
}

#scrollable_grid_data {
    width: 1000px;
    overflow: scroll;
    height: 600px;
}

#master_grid {
    width: 600px;
    display: inline-block;
}

#slave_grid{
    width: 400px;
    display: inline-block;
    height: 600px;
}

#slave_grid_header table,
#slave_grid_data table {
    width: 5400px;
    border: solid 1px black;
    border-bottom: none;
    border-collapse: collapse;
}

#slave_grid_header {
    width: 381px;
    overflow: hidden;
}
#slave_grid_data {
    width: 400px;
    overflow: scroll;
    height: 600px;
}

#master_grid_data {
    width: 600px;
    overflow-x:scroll;
    overflow-y:hidden;
    height: 600px;
}

#master_grid_header table,
#master_grid_data table {
    width: 600px;
    border: solid 1px black;
    border-bottom: none;
    border-collapse: collapse;
}

#master_grid_header table thead th,
#master_grid_data table tbody td,
#slave_grid_header table thead th,
#slave_grid_data table tbody td{
    width: 200px;
    text-align: left;
    border: solid 1px black;
    padding: 2px 5px;
}
